<section class="w-full grid grid-cols-1 max-w-7xl py-20 mx-auto  mt-32">

    <div class="rounded-md w-12 duration-500 h-12 bg-gradient-to-br  from-redEloken-300 to-redEloken-500 p-2 flex justify-center items-center">

        <svg class="opacity-50" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 30.837 51.396">
            <g id="streamline-icon-food-ice-cream_140x140" data-name="streamline-icon-food-ice-cream@140x140"
               style="mix-blend-mode: overlay;isolation: isolate">
                <path id="Tracé_11" data-name="Tracé 11"
                      d="M58.437,11.939a2.57,2.57,0,0,0-3.243-1.881A5.232,5.232,0,0,1,48.558,5.14a5.181,5.181,0,0,1,.221-1.49A2.57,2.57,0,0,0,46.893.4,15.665,15.665,0,0,0,43.419,0,15.419,15.419,0,0,0,28,15.419V33.407a5.14,5.14,0,0,0,5.14,5.14h5.14a1.285,1.285,0,0,1,1.285,1.285v7.709a3.855,3.855,0,1,0,7.709,0V39.832a1.285,1.285,0,0,1,1.285-1.285H53.7a5.14,5.14,0,0,0,5.14-5.14V15.419A15.352,15.352,0,0,0,58.437,11.939Z"
                      transform="translate(-28)" fill="#ffffff"/>
            </g>
        </svg>

    </div>
    <p class="subtitle-1 text-redEloken-500 block mt-6 mb-3">Développement</p>
    <h2 class="title-2 text-eloken-700 max-w-3xl mb-8 inline-block">Un site qui en a sous le&nbsp;capot</h2>
    <p class="max-w-xl body-1 text-eloken-500">Les technologies que nous développons garantissent la rapidité, la
        fiabilité et la sécurité de vos interfaces web et mobiles. L'expérience utilisateur est au cœur de la
        conception de solutions digitales.</p>
    <a class="anchor-1 mt-8 block max-w-sm flex items-center transform transition hover:translate-x-1 cursor-pointer text-redEloken-500"
    >
        En savoir plus
        <svg class="ml-3 fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="12"
             viewBox="0 0 22.902 14.723">
            <g id="streamline-icon-interface-arrows-right_140x140"
               data-name="streamline-icon-interface-arrows-right@140x140" transform="translate(0 -25)">
                <path id="Tracé_36" data-name="Tracé 36"
                      d="M16.7,25.479,22.423,31.2a1.636,1.636,0,0,1,0,2.313L16.7,39.244a1.636,1.636,0,1,1-2.313-2.313L16.619,34.7a.409.409,0,0,0-.29-.7H1.636a1.636,1.636,0,1,1,0-3.272H16.329a.409.409,0,0,0,.29-.7l-2.235-2.235A1.636,1.636,0,1,1,16.7,25.479Z"
                      :fill=""/>
            </g>
        </svg>
    </a>

    {# ANIMATION POWER STARTS #}
    <div class="justify-self-center" x-data="{ power: false }">
        <div class="flex items-center gap-0">
            <div @click="power = !power" x-bind:class="{ 'scale-95': power, 'animate-jumps': power === false }"
                 class="rounded-full cursor-pointer relative h-32 w-32 bg-redEloken-500 flex items-center bg-gradient-to-br  from-redEloken-300 via-redEloken-500 to-redEloken-700 transform duration-500 hover:scale-95 focus:scale-95 hover:shadow-lg justify-center">
                <div class="h-16 w-16 absolute bg-redEloken-500 hover:opacity-50 opacity-75 transform duration-100 rounded-full"
                     x-bind:class="{ 'animate-pings scale-150 h-32 w-32': power === true }"></div>
                <svg class="vibrate-1" x-bind:class="{ 'vibrate-1': power }" xmlns="http://www.w3.org/2000/svg"
                     version="1.1"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 140 140" width="30" height="30">
                    <g transform="matrix(14,0,0,14,0,0)">
                        <path d="M7.391.045A.267.267,0,0,1,7.8.332L6.462,4.2a.266.266,0,0,0,.139.3l2.14.884a.267.267,0,0,1,.028.461L2.609,9.955A.267.267,0,0,1,2.2,9.668L3.446,5.8a.268.268,0,0,0-.14-.3L1.259,4.613a.267.267,0,0,1-.028-.461Z"
                              fill="#fff" stroke="none" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="0">
                        </path>
                    </g>
                </svg>
            </div>
            <svg x-bind:class="{ 'animate-pulse -translate-x-1': power, 'grayscale': power === false }"
                 class="transform duration-500 " xmlns="http://www.w3.org/2000/svg" width="399"
                 height="361" viewBox="0 0 399 361">
                <g id="Groupe_34" data-name="Groupe 34" transform="translate(-723 -4901)">
                    <rect id="Rectangle_763" data-name="Rectangle 763" width="114" height="5"
                          transform="translate(723 5079)" fill="#d4145a"/>
                    <rect id="Rectangle_769" data-name="Rectangle 769" width="52" height="5"
                          transform="translate(835 5140)" fill="#d4145a"/>
                    <rect id="Rectangle_770" data-name="Rectangle 770" width="164" height="5"
                          transform="translate(832 5098)" fill="#d4145a"/>
                    <rect id="Rectangle_775" data-name="Rectangle 775" width="238" height="5"
                          transform="translate(882 5206)" fill="#d4145a"/>
                    <rect id="Rectangle_776" data-name="Rectangle 776" width="42" height="5"
                          transform="translate(991 5159)" fill="#d4145a"/>
                    <rect id="Rectangle_780" data-name="Rectangle 780" width="79" height="5"
                          transform="translate(1041 5257)" fill="#d4145a"/>
                    <rect id="Rectangle_777" data-name="Rectangle 777" width="87" height="5"
                          transform="translate(1033 5126)" fill="#d4145a"/>
                    <rect id="Rectangle_771" data-name="Rectangle 771" width="288" height="5"
                          transform="translate(832 5001)" fill="#d4145a"/>
                    <rect id="Rectangle_772" data-name="Rectangle 772" width="181" height="5"
                          transform="translate(939 4935)" fill="#d4145a"/>
                    <rect id="Rectangle_773" data-name="Rectangle 773" width="78" height="5"
                          transform="translate(1042 4977)" fill="#d4145a"/>
                    <rect id="Rectangle_787" data-name="Rectangle 787" width="134" height="5"
                          transform="translate(988 4901)" fill="#d4145a"/>
                    <rect id="Rectangle_784" data-name="Rectangle 784" width="78" height="5"
                          transform="translate(1042 5026)" fill="#d4145a"/>
                    <rect id="Rectangle_764" data-name="Rectangle 764" width="66" height="5"
                          transform="translate(837 5079) rotate(90)" fill="#d4145a"/>
                    <rect id="Rectangle_765" data-name="Rectangle 765" width="83" height="5"
                          transform="translate(837 5001) rotate(90)" fill="#d4145a"/>
                    <rect id="Rectangle_766" data-name="Rectangle 766" width="66" height="5"
                          transform="translate(887 5145) rotate(90)" fill="#d4145a"/>
                    <rect id="Rectangle_767" data-name="Rectangle 767" width="66" height="5"
                          transform="translate(944 4935) rotate(90)" fill="#d4145a"/>
                    <rect id="Rectangle_774" data-name="Rectangle 774" width="54" height="5"
                          transform="translate(1042 4977) rotate(90)" fill="#d4145a"/>
                    <rect id="Rectangle_788" data-name="Rectangle 788" width="39" height="5"
                          transform="translate(988 4901) rotate(90)" fill="#d4145a"/>
                    <rect id="Rectangle_782" data-name="Rectangle 782" width="27" height="5"
                          transform="translate(917 5042) rotate(90)" fill="#d4145a"/>
                    <rect id="Rectangle_781" data-name="Rectangle 781" width="85" height="5"
                          transform="translate(917 5042) rotate(180)" fill="#d4145a"/>
                    <rect id="Rectangle_783" data-name="Rectangle 783" width="208" height="5"
                          transform="translate(1120 5069) rotate(180)" fill="#d4145a"/>
                    <rect id="Rectangle_768" data-name="Rectangle 768" width="66" height="5"
                          transform="translate(996 5098) rotate(90)" fill="#d4145a"/>
                    <rect id="Rectangle_778" data-name="Rectangle 778" width="38" height="5"
                          transform="translate(1033 5126) rotate(90)" fill="#d4145a"/>
                    <rect id="Rectangle_779" data-name="Rectangle 779" width="56" height="5"
                          transform="translate(1046 5206) rotate(90)" fill="#d4145a"/>
                </g>
            </svg>
            <div class="grid shadow-lg grid-cols-6 transform -translate-x-1 rounded-lg items-center p-6 gap-4 bg-white"
                 x-bind:class="{ 'grayscale': power === false }">
                <div class="col-span-1 col-start-6 justify-end gap-1 grid grid-cols-1">
                    <div class="bg-eloken-200 h-1 w-6 rounded-lg"></div>
                    <div class="bg-eloken-200 h-1 w-6 rounded-lg"></div>
                    <div class="bg-eloken-200 h-1 w-6 rounded-lg"></div>
                </div>
                <div class="col-span-6 h-32 w-56 rounded-lg wrapper-wave relative bg-gradient-to-br  from-redEloken-400 to-redEloken-600">
                    <div x-show="power"
                         x-transition:enter="transition ease-out duration-300"
                         x-transition:enter-start="opacity-0 transform scale-90"
                         x-transition:enter-end="opacity-100 transform scale-100"
                         x-transition:leave="transition ease-in duration-300"
                         x-transition:leave-start="opacity-100 transform scale-100"
                         x-transition:leave-end="opacity-0 transform scale-90"
                         class="wave bg-gradient-to-tl  from-redEloken-400 to-redEloken-700"></div>
                </div>
                <div class="col-span-2 gap-1 grid grid-cols-3">
                    <div class="bg-eloken-300 h-2 w-2 rounded-full"></div>
                    <div class="bg-eloken-300 h-2 w-2 rounded-full"></div>
                    <div class="bg-eloken-300 h-2 w-2 rounded-full"></div>
                </div>
                <div class="col-span-4 gap-1 grid grid-cols-1 w-full">
                    <div class="bg-eloken-300 h-2 w-6 rounded-lg justify-self-end">

                    </div>
                </div>
                <div class="col-span-6"></div>
                <div class="col-span-6 gap-3 grid grid-cols-1 w-full" x-bind:class="{ 'scale-up-hor-left': power}">
                    <div class="bg-eloken-200 h-2 w-full rounded-lg"></div>
                    <div class="bg-eloken-200 h-2 w-full rounded-lg"></div>
                    <div class="bg-eloken-200 h-2 w-full rounded-lg"></div>
                    <div class="bg-eloken-200 h-2 w-full rounded-lg"></div>
                    <div class="bg-eloken-200 h-2 w-2/3 rounded-lg"></div>
                </div>
                <div class="col-span-6"></div>
                <div class="col-span-3 bg-redEloken-500 h-6 w-full rounded-lg"></div>
                <div class="col-span-1 col-start-6 justify-self-end bg-redEloken-500 h-6 w-6 rounded-lg"></div>

            </div>
        </div>

        <div class="w-full relative">
            <div class="absolute h-full w-64 left-0 top-0 bg-gradient-to-r from-eloken-50 z-10"></div>
            <div class="absolute h-full w-64 right-0 top-0 bg-gradient-to-l from-eloken-50 z-10"></div>
            <div class="w-full" x-bind:class="{ 'grayscale': power === false }">

                <div class="main-carousel mt-32 transform duration-500"
                     data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false, "wrapAround": true, "autoPlay": true, "autoPlay": 1500, "pauseAutoPlayOnHover": false }'>
                    <div class="carousel-cell p-8">
                        <svg viewBox="0 0 247 31" class="w-auto h-7 sm:h-8">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z"
                                  fill="#06B6D4"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M76.546 12.825h-4.453v8.567c0 2.285 1.508 2.249 4.453 2.106v3.463c-5.962.714-8.332-.928-8.332-5.569v-8.567H64.91V9.112h3.304V4.318l3.879-1.143v5.937h4.453v3.713zM93.52 9.112h3.878v17.849h-3.878v-2.57c-1.365 1.891-3.484 3.034-6.285 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.285 2.999V9.112zm-5.674 14.636c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm16.016-17.313c-1.364 0-2.477-1.142-2.477-2.463a2.475 2.475 0 012.477-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.879v17.849h-3.879zm8.368 0V.9h3.878v26.06h-3.878zm29.053-17.849h4.094l-5.638 17.849h-3.807l-3.735-12.03-3.771 12.03h-3.806l-5.639-17.849h4.094l3.484 12.315 3.771-12.315h3.699l3.734 12.315 3.52-12.315zm8.906-2.677c-1.365 0-2.478-1.142-2.478-2.463a2.475 2.475 0 012.478-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.878v17.849h-3.878zm17.812-18.313c4.022 0 6.895 2.713 6.895 7.354V26.96h-3.878V16.394c0-2.713-1.58-4.14-4.022-4.14-2.55 0-4.561 1.499-4.561 5.14v9.567h-3.879V9.112h3.879v2.285c1.185-1.856 3.124-2.749 5.566-2.749zm25.282-6.675h3.879V26.96h-3.879v-2.57c-1.364 1.892-3.483 3.034-6.284 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.284 2.999V1.973zm-5.674 21.775c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm22.553 3.677c-5.423 0-9.481-4.105-9.481-9.389 0-5.318 4.058-9.388 9.481-9.388 3.519 0 6.572 1.82 8.008 4.605l-3.34 1.928c-.79-1.678-2.549-2.749-4.704-2.749-3.16 0-5.566 2.392-5.566 5.604 0 3.213 2.406 5.605 5.566 5.605 2.155 0 3.914-1.107 4.776-2.749l3.34 1.892c-1.508 2.82-4.561 4.64-8.08 4.64zm14.472-13.387c0 3.249 9.661 1.285 9.661 7.89 0 3.57-3.125 5.497-7.003 5.497-3.591 0-6.177-1.607-7.326-4.177l3.34-1.927c.574 1.606 2.011 2.57 3.986 2.57 1.724 0 3.052-.571 3.052-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.909-5.462 6.572-5.462 2.945 0 5.387 1.357 6.644 3.713l-3.268 1.82c-.647-1.392-1.904-2.035-3.376-2.035-1.401 0-2.622.607-2.622 1.892zm16.556 0c0 3.249 9.66 1.285 9.66 7.89 0 3.57-3.124 5.497-7.003 5.497-3.591 0-6.176-1.607-7.326-4.177l3.34-1.927c.575 1.606 2.011 2.57 3.986 2.57 1.724 0 3.053-.571 3.053-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.908-5.462 6.572-5.462 2.944 0 5.386 1.357 6.643 3.713l-3.268 1.82c-.646-1.392-1.903-2.035-3.375-2.035-1.401 0-2.622.607-2.622 1.892z"
                                  fill="#000"></path>
                        </svg>
                    </div>
                    <div class="carousel-cell p-8">
                        <svg viewBox="0 0 247 31" class="w-auto h-7 sm:h-8">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z"
                                  fill="#06B6D4"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M76.546 12.825h-4.453v8.567c0 2.285 1.508 2.249 4.453 2.106v3.463c-5.962.714-8.332-.928-8.332-5.569v-8.567H64.91V9.112h3.304V4.318l3.879-1.143v5.937h4.453v3.713zM93.52 9.112h3.878v17.849h-3.878v-2.57c-1.365 1.891-3.484 3.034-6.285 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.285 2.999V9.112zm-5.674 14.636c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm16.016-17.313c-1.364 0-2.477-1.142-2.477-2.463a2.475 2.475 0 012.477-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.879v17.849h-3.879zm8.368 0V.9h3.878v26.06h-3.878zm29.053-17.849h4.094l-5.638 17.849h-3.807l-3.735-12.03-3.771 12.03h-3.806l-5.639-17.849h4.094l3.484 12.315 3.771-12.315h3.699l3.734 12.315 3.52-12.315zm8.906-2.677c-1.365 0-2.478-1.142-2.478-2.463a2.475 2.475 0 012.478-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.878v17.849h-3.878zm17.812-18.313c4.022 0 6.895 2.713 6.895 7.354V26.96h-3.878V16.394c0-2.713-1.58-4.14-4.022-4.14-2.55 0-4.561 1.499-4.561 5.14v9.567h-3.879V9.112h3.879v2.285c1.185-1.856 3.124-2.749 5.566-2.749zm25.282-6.675h3.879V26.96h-3.879v-2.57c-1.364 1.892-3.483 3.034-6.284 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.284 2.999V1.973zm-5.674 21.775c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm22.553 3.677c-5.423 0-9.481-4.105-9.481-9.389 0-5.318 4.058-9.388 9.481-9.388 3.519 0 6.572 1.82 8.008 4.605l-3.34 1.928c-.79-1.678-2.549-2.749-4.704-2.749-3.16 0-5.566 2.392-5.566 5.604 0 3.213 2.406 5.605 5.566 5.605 2.155 0 3.914-1.107 4.776-2.749l3.34 1.892c-1.508 2.82-4.561 4.64-8.08 4.64zm14.472-13.387c0 3.249 9.661 1.285 9.661 7.89 0 3.57-3.125 5.497-7.003 5.497-3.591 0-6.177-1.607-7.326-4.177l3.34-1.927c.574 1.606 2.011 2.57 3.986 2.57 1.724 0 3.052-.571 3.052-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.909-5.462 6.572-5.462 2.945 0 5.387 1.357 6.644 3.713l-3.268 1.82c-.647-1.392-1.904-2.035-3.376-2.035-1.401 0-2.622.607-2.622 1.892zm16.556 0c0 3.249 9.66 1.285 9.66 7.89 0 3.57-3.124 5.497-7.003 5.497-3.591 0-6.176-1.607-7.326-4.177l3.34-1.927c.575 1.606 2.011 2.57 3.986 2.57 1.724 0 3.053-.571 3.053-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.908-5.462 6.572-5.462 2.944 0 5.386 1.357 6.643 3.713l-3.268 1.82c-.646-1.392-1.903-2.035-3.375-2.035-1.401 0-2.622.607-2.622 1.892z"
                                  fill="#000"></path>
                        </svg>
                    </div>
                    <div class="carousel-cell p-8">
                        <svg viewBox="0 0 247 31" class="w-auto h-7 sm:h-8">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z"
                                  fill="#06B6D4"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M76.546 12.825h-4.453v8.567c0 2.285 1.508 2.249 4.453 2.106v3.463c-5.962.714-8.332-.928-8.332-5.569v-8.567H64.91V9.112h3.304V4.318l3.879-1.143v5.937h4.453v3.713zM93.52 9.112h3.878v17.849h-3.878v-2.57c-1.365 1.891-3.484 3.034-6.285 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.285 2.999V9.112zm-5.674 14.636c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm16.016-17.313c-1.364 0-2.477-1.142-2.477-2.463a2.475 2.475 0 012.477-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.879v17.849h-3.879zm8.368 0V.9h3.878v26.06h-3.878zm29.053-17.849h4.094l-5.638 17.849h-3.807l-3.735-12.03-3.771 12.03h-3.806l-5.639-17.849h4.094l3.484 12.315 3.771-12.315h3.699l3.734 12.315 3.52-12.315zm8.906-2.677c-1.365 0-2.478-1.142-2.478-2.463a2.475 2.475 0 012.478-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.878v17.849h-3.878zm17.812-18.313c4.022 0 6.895 2.713 6.895 7.354V26.96h-3.878V16.394c0-2.713-1.58-4.14-4.022-4.14-2.55 0-4.561 1.499-4.561 5.14v9.567h-3.879V9.112h3.879v2.285c1.185-1.856 3.124-2.749 5.566-2.749zm25.282-6.675h3.879V26.96h-3.879v-2.57c-1.364 1.892-3.483 3.034-6.284 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.284 2.999V1.973zm-5.674 21.775c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm22.553 3.677c-5.423 0-9.481-4.105-9.481-9.389 0-5.318 4.058-9.388 9.481-9.388 3.519 0 6.572 1.82 8.008 4.605l-3.34 1.928c-.79-1.678-2.549-2.749-4.704-2.749-3.16 0-5.566 2.392-5.566 5.604 0 3.213 2.406 5.605 5.566 5.605 2.155 0 3.914-1.107 4.776-2.749l3.34 1.892c-1.508 2.82-4.561 4.64-8.08 4.64zm14.472-13.387c0 3.249 9.661 1.285 9.661 7.89 0 3.57-3.125 5.497-7.003 5.497-3.591 0-6.177-1.607-7.326-4.177l3.34-1.927c.574 1.606 2.011 2.57 3.986 2.57 1.724 0 3.052-.571 3.052-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.909-5.462 6.572-5.462 2.945 0 5.387 1.357 6.644 3.713l-3.268 1.82c-.647-1.392-1.904-2.035-3.376-2.035-1.401 0-2.622.607-2.622 1.892zm16.556 0c0 3.249 9.66 1.285 9.66 7.89 0 3.57-3.124 5.497-7.003 5.497-3.591 0-6.176-1.607-7.326-4.177l3.34-1.927c.575 1.606 2.011 2.57 3.986 2.57 1.724 0 3.053-.571 3.053-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.908-5.462 6.572-5.462 2.944 0 5.386 1.357 6.643 3.713l-3.268 1.82c-.646-1.392-1.903-2.035-3.375-2.035-1.401 0-2.622.607-2.622 1.892z"
                                  fill="#000"></path>
                        </svg>
                    </div>
                    <div class="carousel-cell p-8">
                        <svg viewBox="0 0 247 31" class="w-auto h-7 sm:h-8">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z"
                                  fill="#06B6D4"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M76.546 12.825h-4.453v8.567c0 2.285 1.508 2.249 4.453 2.106v3.463c-5.962.714-8.332-.928-8.332-5.569v-8.567H64.91V9.112h3.304V4.318l3.879-1.143v5.937h4.453v3.713zM93.52 9.112h3.878v17.849h-3.878v-2.57c-1.365 1.891-3.484 3.034-6.285 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.285 2.999V9.112zm-5.674 14.636c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm16.016-17.313c-1.364 0-2.477-1.142-2.477-2.463a2.475 2.475 0 012.477-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.879v17.849h-3.879zm8.368 0V.9h3.878v26.06h-3.878zm29.053-17.849h4.094l-5.638 17.849h-3.807l-3.735-12.03-3.771 12.03h-3.806l-5.639-17.849h4.094l3.484 12.315 3.771-12.315h3.699l3.734 12.315 3.52-12.315zm8.906-2.677c-1.365 0-2.478-1.142-2.478-2.463a2.475 2.475 0 012.478-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.878v17.849h-3.878zm17.812-18.313c4.022 0 6.895 2.713 6.895 7.354V26.96h-3.878V16.394c0-2.713-1.58-4.14-4.022-4.14-2.55 0-4.561 1.499-4.561 5.14v9.567h-3.879V9.112h3.879v2.285c1.185-1.856 3.124-2.749 5.566-2.749zm25.282-6.675h3.879V26.96h-3.879v-2.57c-1.364 1.892-3.483 3.034-6.284 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.284 2.999V1.973zm-5.674 21.775c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm22.553 3.677c-5.423 0-9.481-4.105-9.481-9.389 0-5.318 4.058-9.388 9.481-9.388 3.519 0 6.572 1.82 8.008 4.605l-3.34 1.928c-.79-1.678-2.549-2.749-4.704-2.749-3.16 0-5.566 2.392-5.566 5.604 0 3.213 2.406 5.605 5.566 5.605 2.155 0 3.914-1.107 4.776-2.749l3.34 1.892c-1.508 2.82-4.561 4.64-8.08 4.64zm14.472-13.387c0 3.249 9.661 1.285 9.661 7.89 0 3.57-3.125 5.497-7.003 5.497-3.591 0-6.177-1.607-7.326-4.177l3.34-1.927c.574 1.606 2.011 2.57 3.986 2.57 1.724 0 3.052-.571 3.052-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.909-5.462 6.572-5.462 2.945 0 5.387 1.357 6.644 3.713l-3.268 1.82c-.647-1.392-1.904-2.035-3.376-2.035-1.401 0-2.622.607-2.622 1.892zm16.556 0c0 3.249 9.66 1.285 9.66 7.89 0 3.57-3.124 5.497-7.003 5.497-3.591 0-6.176-1.607-7.326-4.177l3.34-1.927c.575 1.606 2.011 2.57 3.986 2.57 1.724 0 3.053-.571 3.053-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.908-5.462 6.572-5.462 2.944 0 5.386 1.357 6.643 3.713l-3.268 1.82c-.646-1.392-1.903-2.035-3.375-2.035-1.401 0-2.622.607-2.622 1.892z"
                                  fill="#000"></path>
                        </svg>
                    </div>
                    <div class="carousel-cell p-8">
                        <svg viewBox="0 0 247 31" class="w-auto h-7 sm:h-8">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z"
                                  fill="#06B6D4"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M76.546 12.825h-4.453v8.567c0 2.285 1.508 2.249 4.453 2.106v3.463c-5.962.714-8.332-.928-8.332-5.569v-8.567H64.91V9.112h3.304V4.318l3.879-1.143v5.937h4.453v3.713zM93.52 9.112h3.878v17.849h-3.878v-2.57c-1.365 1.891-3.484 3.034-6.285 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.285 2.999V9.112zm-5.674 14.636c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm16.016-17.313c-1.364 0-2.477-1.142-2.477-2.463a2.475 2.475 0 012.477-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.879v17.849h-3.879zm8.368 0V.9h3.878v26.06h-3.878zm29.053-17.849h4.094l-5.638 17.849h-3.807l-3.735-12.03-3.771 12.03h-3.806l-5.639-17.849h4.094l3.484 12.315 3.771-12.315h3.699l3.734 12.315 3.52-12.315zm8.906-2.677c-1.365 0-2.478-1.142-2.478-2.463a2.475 2.475 0 012.478-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.878v17.849h-3.878zm17.812-18.313c4.022 0 6.895 2.713 6.895 7.354V26.96h-3.878V16.394c0-2.713-1.58-4.14-4.022-4.14-2.55 0-4.561 1.499-4.561 5.14v9.567h-3.879V9.112h3.879v2.285c1.185-1.856 3.124-2.749 5.566-2.749zm25.282-6.675h3.879V26.96h-3.879v-2.57c-1.364 1.892-3.483 3.034-6.284 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.284 2.999V1.973zm-5.674 21.775c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm22.553 3.677c-5.423 0-9.481-4.105-9.481-9.389 0-5.318 4.058-9.388 9.481-9.388 3.519 0 6.572 1.82 8.008 4.605l-3.34 1.928c-.79-1.678-2.549-2.749-4.704-2.749-3.16 0-5.566 2.392-5.566 5.604 0 3.213 2.406 5.605 5.566 5.605 2.155 0 3.914-1.107 4.776-2.749l3.34 1.892c-1.508 2.82-4.561 4.64-8.08 4.64zm14.472-13.387c0 3.249 9.661 1.285 9.661 7.89 0 3.57-3.125 5.497-7.003 5.497-3.591 0-6.177-1.607-7.326-4.177l3.34-1.927c.574 1.606 2.011 2.57 3.986 2.57 1.724 0 3.052-.571 3.052-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.909-5.462 6.572-5.462 2.945 0 5.387 1.357 6.644 3.713l-3.268 1.82c-.647-1.392-1.904-2.035-3.376-2.035-1.401 0-2.622.607-2.622 1.892zm16.556 0c0 3.249 9.66 1.285 9.66 7.89 0 3.57-3.124 5.497-7.003 5.497-3.591 0-6.176-1.607-7.326-4.177l3.34-1.927c.575 1.606 2.011 2.57 3.986 2.57 1.724 0 3.053-.571 3.053-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.908-5.462 6.572-5.462 2.944 0 5.386 1.357 6.643 3.713l-3.268 1.82c-.646-1.392-1.903-2.035-3.375-2.035-1.401 0-2.622.607-2.622 1.892z"
                                  fill="#000"></path>
                        </svg>
                    </div>
                    <div class="carousel-cell p-8 ">
                        <svg viewBox="0 0 247 31" class="w-auto h-7 sm:h-8">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z"
                                  fill="#06B6D4"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M76.546 12.825h-4.453v8.567c0 2.285 1.508 2.249 4.453 2.106v3.463c-5.962.714-8.332-.928-8.332-5.569v-8.567H64.91V9.112h3.304V4.318l3.879-1.143v5.937h4.453v3.713zM93.52 9.112h3.878v17.849h-3.878v-2.57c-1.365 1.891-3.484 3.034-6.285 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.285 2.999V9.112zm-5.674 14.636c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm16.016-17.313c-1.364 0-2.477-1.142-2.477-2.463a2.475 2.475 0 012.477-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.879v17.849h-3.879zm8.368 0V.9h3.878v26.06h-3.878zm29.053-17.849h4.094l-5.638 17.849h-3.807l-3.735-12.03-3.771 12.03h-3.806l-5.639-17.849h4.094l3.484 12.315 3.771-12.315h3.699l3.734 12.315 3.52-12.315zm8.906-2.677c-1.365 0-2.478-1.142-2.478-2.463a2.475 2.475 0 012.478-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.878v17.849h-3.878zm17.812-18.313c4.022 0 6.895 2.713 6.895 7.354V26.96h-3.878V16.394c0-2.713-1.58-4.14-4.022-4.14-2.55 0-4.561 1.499-4.561 5.14v9.567h-3.879V9.112h3.879v2.285c1.185-1.856 3.124-2.749 5.566-2.749zm25.282-6.675h3.879V26.96h-3.879v-2.57c-1.364 1.892-3.483 3.034-6.284 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.284 2.999V1.973zm-5.674 21.775c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm22.553 3.677c-5.423 0-9.481-4.105-9.481-9.389 0-5.318 4.058-9.388 9.481-9.388 3.519 0 6.572 1.82 8.008 4.605l-3.34 1.928c-.79-1.678-2.549-2.749-4.704-2.749-3.16 0-5.566 2.392-5.566 5.604 0 3.213 2.406 5.605 5.566 5.605 2.155 0 3.914-1.107 4.776-2.749l3.34 1.892c-1.508 2.82-4.561 4.64-8.08 4.64zm14.472-13.387c0 3.249 9.661 1.285 9.661 7.89 0 3.57-3.125 5.497-7.003 5.497-3.591 0-6.177-1.607-7.326-4.177l3.34-1.927c.574 1.606 2.011 2.57 3.986 2.57 1.724 0 3.052-.571 3.052-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.909-5.462 6.572-5.462 2.945 0 5.387 1.357 6.644 3.713l-3.268 1.82c-.647-1.392-1.904-2.035-3.376-2.035-1.401 0-2.622.607-2.622 1.892zm16.556 0c0 3.249 9.66 1.285 9.66 7.89 0 3.57-3.124 5.497-7.003 5.497-3.591 0-6.176-1.607-7.326-4.177l3.34-1.927c.575 1.606 2.011 2.57 3.986 2.57 1.724 0 3.053-.571 3.053-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.908-5.462 6.572-5.462 2.944 0 5.386 1.357 6.643 3.713l-3.268 1.82c-.646-1.392-1.903-2.035-3.375-2.035-1.401 0-2.622.607-2.622 1.892z"
                                  fill="#000"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
