<!DOCTYPE html>
<html>

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />


</head>

<body class="">

<div id="device" class="">
    <!-- Logo -->
    <div id="logo">
        <div id="logo-icon"></div>
        <div id="logo-text"></div>
    </div>
    <!-- Nav -->
    <div id="a1" class="absolute anchors"></div>
    <div id="a2" class="absolute anchors"></div>
    <div id="a3" class="absolute anchors"></div>
    <!-- image -->
    <div id="image">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <path id="Tracé_59" data-name="Tracé 59" d="M16.5,0H3.5A3.5,3.5,0,0,0,0,3.5v13A3.5,3.5,0,0,0,3.5,20h13A3.5,3.5,0,0,0,20,16.5V3.5A3.5,3.5,0,0,0,16.5,0ZM3.5,3h13a.5.5,0,0,1,.5.5v6.55L14.426,7.894a1.668,1.668,0,0,0-2.214.062L5.6,14.5H3V3.5A.5.5,0,0,1,3.5,3Z" fill="#fff" />
            <path id="Tracé_60" data-name="Tracé 60" d="M35,33.5a2,2,0,1,0,2-2A2,2,0,0,0,35,33.5Z" transform="translate(-30 -27)" fill="#fff" />
        </svg>
    </div>
    <!-- HEADER -->
    <div id="h1" class="headers"></div>
    <div id="h2" class="headers"></div>
    <!-- PARAGRAPH -->
    <div id="p1" class="paragraphs"></div>
    <div id="p2" class="paragraphs"></div>
    <div id="p3" class="paragraphs"></div>
    <!-- BUTTONS -->
    <div id="btn1" class="buttons"></div>
    <div id="btn2" class="buttons"></div>
    <!-- BULLETPOINTS -->
    <div class="bulletpoint" id="bullet1">
        <svg class="bulleticon" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 140 140" width="20" height="20">
            <g transform="matrix(14,0,0,14,0,0)">
                <path d="M9.957,3.783a.872.872,0,0,0-.71-.6l-2.39-.348L5.789.67a.912.912,0,0,0-1.578,0L3.143,2.837l-2.39.348a.879.879,0,0,0-.487,1.5L2,6.372,1.587,8.755a.881.881,0,0,0,.866,1.029.887.887,0,0,0,.411-.1L5,8.558,7.136,9.682a.88.88,0,0,0,1.277-.927L8.005,6.372,9.734,4.685A.875.875,0,0,0,9.957,3.783Z" fill="#fab800" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path>
            </g>
        </svg>
        <div class="bullettext1"></div>
        <div class="bullettext2"></div>
    </div>
    <div class="bulletpoint" id="bullet2">
        <svg class="bulleticon" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 140 140" width="20" height="20">
            <g transform="matrix(14,0,0,14,0,0)">
                <path d="M9.957,3.783a.872.872,0,0,0-.71-.6l-2.39-.348L5.789.67a.912.912,0,0,0-1.578,0L3.143,2.837l-2.39.348a.879.879,0,0,0-.487,1.5L2,6.372,1.587,8.755a.881.881,0,0,0,.866,1.029.887.887,0,0,0,.411-.1L5,8.558,7.136,9.682a.88.88,0,0,0,1.277-.927L8.005,6.372,9.734,4.685A.875.875,0,0,0,9.957,3.783Z" fill="#fab800" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path>
            </g>
        </svg>
        <div class="bullettext1"></div>
        <div class="bullettext2"></div>
    </div>
    <div class="bulletpoint" id="bullet3">
        <svg class="bulleticon" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 140 140" width="20" height="20">
            <g transform="matrix(14,0,0,14,0,0)">
                <path d="M9.957,3.783a.872.872,0,0,0-.71-.6l-2.39-.348L5.789.67a.912.912,0,0,0-1.578,0L3.143,2.837l-2.39.348a.879.879,0,0,0-.487,1.5L2,6.372,1.587,8.755a.881.881,0,0,0,.866,1.029.887.887,0,0,0,.411-.1L5,8.558,7.136,9.682a.88.88,0,0,0,1.277-.927L8.005,6.372,9.734,4.685A.875.875,0,0,0,9.957,3.783Z" fill="#fab800" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path>
            </g>
        </svg>
        <div class="bullettext1"></div>
        <div class="bullettext2"></div>
    </div>
</div>

<style>
    /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }


    * {
        border-radius: 0.375rem;
        transition-property: all;
        transition-duration: 850ms;
    }
    svg {
        border-radius:0;
    }

    #image{
        width: 244px;
        height: 121px;
        position:absolute;
        background: #FAB800;
        display:flex;
        justify-content: center;
        align-items: center;
        left:17px;
        top:64px;
    }

    #logo-icon {
        height:20px;
        width:20px;
        background: #fab800;
    }

    #logo-text{
        background: #E6E6E9;
        height:20px;
        width:42px;
    }

    #logo {
        position: absolute;
        display: flex;
        column-gap: 5px;
        top: 24px;
        left:17px;
    }

    #device {
        height: 450px;
        overflow:hidden;
        background: #FFFFFF;
        position:relative;
    }

    .anchors {
        background: #E6E6E9;
        position: absolute;
        width: 27px;
        height: 5px;

    }
    #a1 {
        right:17px;
        top: 21px;
    }

    #a2 {
        right:17px;
        top: 31px;
    }

    #a3 {
        right:17px;
        top: 41px;
    }

    .headers {
        background: #C3C4CA;
        position: absolute;
        height: 11px;;
    }

    #h1 {
        width: 130px;
        top:204px;
        left:75px;
    }

    #h2 {

        top:224px;
        left:50px;
        width:180px;
    }


    .paragraphs {
        background: #E6E6E9;
        position: absolute;
        height: 11px;
    }

    #p1{
        top: 260px;
        left:50px;
        width:180px;
    }

    #p2 {
        top: 280px;
        left:50px;
        width:180px;
    }

    #p3 {
        top: 300px;
        left:50px;
        width:180px;
    }

    .buttons {
        width: 100px;
        height: 25px;
        position: absolute;
    }

    #btn1 {
        top:334px;
        left:90px;
        background:#fab800;
    }

    #btn2 {
        top:369px;
        left:90px;
        background:#fff;
    }


    .bulletpoint {
        position: relative;
        position: absolute;
        width:82px;
    }

    #bullet1 {
        left:17px;
        top: 390px;
    }
    #bullet2 {
        left:99px;
        top: 390px;
    }
    #bullet3 {
        left:181px;
        top: 390px;
    }

    .bullettext1 {
        width:20px;
        height:11px;
        background:#fff;
        position: absolute;
        top:30px;
        left:31px;
    }

    .bullettext2 {
        width:20px;
        position: absolute;
        height:11px;
        background:#fff;
        top:30px;
        left:31px;
    }
    .bulleticon {
        position:absolute;
        left:31px;
    }


    @media (min-width: 550px) and (max-width: 780px) {

        #btn1 {
            top:264px;
            left:348px;
            background:#fab800;
        }

        #btn2 {
            top:264px;
            left:468px;
            background:#FEEDBF;
        }

        #h1 {
            width: 180px;
            left:348px;
            top:121px;
        }

        #h2 {
            width: 226px;
            left:348px;
            top:141px;

        }

        #p1{
            left:348px;
            top:181px;

        }

        #p2 {
            left:348px;
            top:201px;
            width:200px;
        }

        #p3 {
            left:348px;
            top:221px;
        }

        #a1 {
            right:48px;
            top: 40px;
        }

        #a2 {
            right:48px;
            top: 50px;
        }

        #a3 {
            right:48px;
            top: 60px;
        }
        #logo {
            left:48px;
            top: 40px;
        }
        #image {
            top:97px;
            width: 259px;
            height: 215px;
            left:48px;
        }

        .bulletpoint {
            width:183px;
        }

        #bullet1 {
            left:48px;
            top: 350px;
        }
        #bullet2 {
            left:232px;
            top: 350px;
        }
        #bullet3 {
            left:416px;
            top: 350px;
        }

        .bullettext1 {
            width:66px;
            left :58.5px;
            top: 40px;
            background:#E6E6E9;

        }

        .bullettext2 {
            width:93px;
            left:45px;
            top: 60px;
            background:#E6E6E9;


        }
        .bulleticon {
            position:absolute;
            left:81.5px;
        }

    }

    @media (min-width: 780px) {

        #h1 {
            width: 180px;
            top:149px;
            left:70px;
        }

        #h2 {
            width: 300px;
            top:169px;
            left:70px;
        }

        #p1{
            top: 199px;
            left:70px;

        }

        #p2 {
            top: 219px;
            left:70px;

        }

        #p3 {
            top: 239px;
            left:70px;

        }
        #image {
            width: 305px;
            height: 166px;
            top: 140px;
            left: 477px;
        }
        .anchors {
            width: 75px;
            height: 11px;
        }

        #a1 {
            right:298px;
            top: 57px;
        }



        #a2 {
            right:184px;
            top: 57px;
        }

        #a3 {
            right:70px;
            top: 57px;
            background: #fab800;
        }
        #logo {
            left:70px;
            top:48px;
        }

        #btn1 {
            top:280px;
            left:70px;
            background:#fab800;
        }

        #btn2 {
            top:280px;
            left:190px;
            background:#FEEDBF;
        }

        .bulletpoint {
            width:185px;
        }

        #bullet1 {
            left:100px;
            top: 370px;
        }
        #bullet2 {
            left:325px;
            top: 370px;
        }
        #bullet3 {
            left:550px;
            top: 370px;
        }

        .bullettext1 {
            width:70px;
            left :45px;
            top: 0;
            background:#E6E6E9;

        }

        .bullettext2 {
            width:120px;
            left:45px;
            top: 20px;
            background:#E6E6E9;


        }
        .bulleticon {
            top:5px;
            left:0;
        }



    }
</style>

</body>

</html>