<div class="absolute glass-effect2 z-20 right-0 -mt-12 transform rounded-lg shadow-lg" style="width:655px; height: 409px;">

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="655" height="409" viewBox="0 0 655 409">
        <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_961" data-name="Rectangle 961" width="655" height="409" transform="translate(-0.362 -0.42)" fill="#fff" opacity="0.48"/>
            </clipPath>
            <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#404456"/>
                <stop offset="1" stop-color="#040921"/>
            </linearGradient>
            <clipPath id="clip-path-2">
                <rect id="Rectangle_965" data-name="Rectangle 965" width="178" height="47" transform="translate(0.279 0.014)" fill="#fff"/>
            </clipPath>
        </defs>
        <g id="Groupe_103" data-name="Groupe 103" transform="translate(1249.999 -430)">
            <g id="Header" transform="translate(-1249.637 430.42)" clip-path="url(#clip-path)">
                <g id="Groupe_80" data-name="Groupe 80" transform="translate(-0.001 0)">
                    <rect id="Rectangle_949" data-name="Rectangle 949" width="655" height="409" rx="20" transform="translate(-0.362 -0.42)" fill="none" opacity="0.68"/>
                </g>
                <g id="Groupe_83" data-name="Groupe 83" transform="translate(337.279 90.212)" opacity="0.5">
                    <path id="Soustraction_6" data-name="Soustraction 6" d="M-17642.639,1019.366h-131a19.867,19.867,0,0,1-14.141-5.857,19.859,19.859,0,0,1-5.861-14.14v-132a19.859,19.859,0,0,1,5.861-14.14,19.867,19.867,0,0,1,14.141-5.857h131a19.866,19.866,0,0,1,14.139,5.857,19.861,19.861,0,0,1,5.857,14.14v132a19.861,19.861,0,0,1-5.857,14.14A19.866,19.866,0,0,1-17642.639,1019.366Zm-71.865-84.79a1.432,1.432,0,0,0-1,.394l-2.443,2.336a1.392,1.392,0,0,0-.434,1,1.415,1.415,0,0,0,1.43,1.4h17.229a1.459,1.459,0,0,0,.941-.348,1.378,1.378,0,0,0,.479-.969,1.368,1.368,0,0,0-.354-1.009l-5.988-6.649a.545.545,0,0,0-.066-.067,1.433,1.433,0,0,0-1.006-.408,1.417,1.417,0,0,0-1.012.416l-4.408,4.358a1.438,1.438,0,0,1-1.018.416,1.447,1.447,0,0,1-.68-.17l-.992-.531A1.44,1.44,0,0,0-17714.5,934.576Zm2.428-6.679a1.971,1.971,0,0,0-1.969,1.969,1.969,1.969,0,0,0,1.969,1.965,1.969,1.969,0,0,0,1.971-1.965A1.971,1.971,0,0,0-17712.076,927.9Z" transform="translate(17794 -847)" fill="#fff"/>
                </g>
                <g id="Groupe_86" data-name="Groupe 86" transform="translate(527.456 -13.816)" opacity="0.5">
                    <path id="Soustraction_9" data-name="Soustraction 9" d="M874.182-244.6h-132a19.87,19.87,0,0,1-14.143-5.858,19.868,19.868,0,0,1-5.858-14.142v-132a19.868,19.868,0,0,1,5.858-14.142,19.87,19.87,0,0,1,14.143-5.858h132a19.869,19.869,0,0,1,14.142,5.858,19.869,19.869,0,0,1,5.858,14.142v132a19.869,19.869,0,0,1-5.858,14.142A19.869,19.869,0,0,1,874.182-244.6Zm-72.028-85.3a1.434,1.434,0,0,0-.995.4l-2.445,2.332a1.393,1.393,0,0,0-.431,1,1.415,1.415,0,0,0,1.427,1.4h17.23a1.451,1.451,0,0,0,.945-.351,1.378,1.378,0,0,0,.479-.962,1.379,1.379,0,0,0-.356-1.014l-5.989-6.65-.025-.027c-.013-.014-.025-.028-.039-.041a1.431,1.431,0,0,0-1-.406,1.439,1.439,0,0,0-1.017.415l-4.408,4.361a1.426,1.426,0,0,1-1.012.415,1.453,1.453,0,0,1-.683-.171l-.995-.531A1.451,1.451,0,0,0,802.154-329.9Zm2.431-6.681a1.972,1.972,0,0,0-1.972,1.968,1.973,1.973,0,0,0,1.972,1.969,1.971,1.971,0,0,0,1.967-1.969A1.97,1.97,0,0,0,804.585-336.582Z" transform="translate(-721.998 417)" fill="#fff"/>
                </g>
                <g id="Groupe_89" data-name="Groupe 89" transform="translate(337.279 282.015)" opacity="0.5">
                    <path id="Soustraction_7" data-name="Soustraction 7" d="M-17642.639,827.564h-131a19.867,19.867,0,0,1-14.141-5.857,19.859,19.859,0,0,1-5.861-14.14v-132a19.866,19.866,0,0,1,5.861-14.144,19.866,19.866,0,0,1,14.141-5.858h131a19.865,19.865,0,0,1,14.139,5.858,19.867,19.867,0,0,1,5.857,14.144v132a19.861,19.861,0,0,1-5.857,14.14A19.866,19.866,0,0,1-17642.639,827.564Zm-71.865-84.953a1.427,1.427,0,0,0-1,.4l-2.443,2.331a1.392,1.392,0,0,0-.434,1,1.417,1.417,0,0,0,1.43,1.4h17.229a1.441,1.441,0,0,0,.941-.353,1.391,1.391,0,0,0,.48-.971,1.359,1.359,0,0,0-.355-1l-5.988-6.654c-.01-.011-.021-.022-.033-.033l-.018-.018-.016-.016a1.428,1.428,0,0,0-1-.406,1.428,1.428,0,0,0-1.014.415l-4.408,4.363a1.43,1.43,0,0,1-1.012.413,1.46,1.46,0,0,1-.686-.172l-.992-.531A1.455,1.455,0,0,0-17714.5,742.611Zm2.428-6.682a1.971,1.971,0,0,0-1.969,1.969,1.971,1.971,0,0,0,1.969,1.969,1.971,1.971,0,0,0,1.971-1.969A1.971,1.971,0,0,0-17712.076,735.929Z" transform="translate(17794 -656)" fill="#fff"/>
                </g>
                <g id="Groupe_92" data-name="Groupe 92" transform="translate(145.476 350.284)" opacity="0.5">
                    <g id="Groupe_91" data-name="Groupe 91" transform="translate(0 0)">
                        <g id="Groupe_90" data-name="Groupe 90">
                            <rect id="Rectangle_953" data-name="Rectangle 953" width="172" height="172" rx="20" transform="translate(0.161 0.296)" fill="#fff"/>
                        </g>
                    </g>
                </g>
                <g id="Groupe_95" data-name="Groupe 95" transform="translate(527.456 177.174)" opacity="0.5">
                    <path id="Soustraction_8" data-name="Soustraction 8" d="M874.182-434.595h-132a19.87,19.87,0,0,1-14.143-5.858,19.869,19.869,0,0,1-5.858-14.142v-133a19.869,19.869,0,0,1,5.858-14.142,19.87,19.87,0,0,1,14.143-5.858h132a19.869,19.869,0,0,1,14.142,5.858,19.869,19.869,0,0,1,5.858,14.142v133a19.869,19.869,0,0,1-5.858,14.142A19.869,19.869,0,0,1,874.182-434.595Zm-72.028-86.46a1.434,1.434,0,0,0-.995.4l-2.445,2.333a1.389,1.389,0,0,0-.431,1,1.415,1.415,0,0,0,1.427,1.4h17.23a1.455,1.455,0,0,0,.945-.35,1.379,1.379,0,0,0,.479-.962,1.38,1.38,0,0,0-.356-1.015l-5.989-6.65-.025-.027c-.013-.014-.025-.027-.039-.04a1.431,1.431,0,0,0-1-.406,1.439,1.439,0,0,0-1.017.415l-4.408,4.361a1.426,1.426,0,0,1-1.012.415,1.453,1.453,0,0,1-.683-.171l-.995-.531A1.451,1.451,0,0,0,802.154-521.054Zm2.431-6.681a1.972,1.972,0,0,0-1.972,1.968,1.973,1.973,0,0,0,1.972,1.97,1.971,1.971,0,0,0,1.967-1.97A1.97,1.97,0,0,0,804.585-527.735Z" transform="translate(-721.998 608)" fill="#fff"/>
                </g>
                <g id="Groupe_98" data-name="Groupe 98" transform="translate(527.456 367.351)">
                    <g id="Groupe_97" data-name="Groupe 97" transform="translate(0 0)" opacity="0.5">
                        <g id="Groupe_96" data-name="Groupe 96">
                            <rect id="Rectangle_955" data-name="Rectangle 955" width="172" height="173" rx="20" transform="translate(0.183 0.229)" fill="#fff"/>
                        </g>
                    </g>
                </g>
                <rect id="Rectangle_956" data-name="Rectangle 956" width="151" height="13" rx="6.5" transform="translate(50.638 131.58)" fill="#fff"/>
                <rect id="Rectangle_957" data-name="Rectangle 957" width="227" height="13" rx="6.5" transform="translate(50.638 153.58)" fill="#fff"/>
                <g id="Groupe_99" data-name="Groupe 99" transform="translate(86.148 235.446)">
                    <rect id="Rectangle_958" data-name="Rectangle 958" width="73" height="24" rx="12" transform="translate(0.489 31.134)" fill="url(#linear-gradient)"/>
                </g>
                <g id="Groupe_100" data-name="Groupe 100" transform="translate(50.388 299.446)">
                    <rect id="Rectangle_959" data-name="Rectangle 959" width="27" height="24" rx="12" transform="translate(0.249 -32.866)" fill="#fff"/>
                </g>
                <rect id="Rectangle_960" data-name="Rectangle 960" width="54" height="9" rx="4.5" transform="translate(50.638 49.58)" fill="url(#linear-gradient)"/>
            </g>
            <g id="Groupe_101" data-name="Groupe 101" transform="translate(-1199.279 624.986)" opacity="0.5" clip-path="url(#clip-path-2)">
                <rect id="Rectangle_962" data-name="Rectangle 962" width="143" height="10" rx="5" transform="translate(0.279 37.014)" fill="#fff"/>
                <rect id="Rectangle_963" data-name="Rectangle 963" width="178" height="10" rx="5" transform="translate(0.279 19.014)" fill="#fff"/>
                <rect id="Rectangle_964" data-name="Rectangle 964" width="154" height="10" rx="5" transform="translate(0.279 0.014)" fill="#fff"/>
            </g>
        </g>
    </svg>

</div>