
<div class="absolute glass-effect2 z-20 right-0 mt-24 xl:scale-120 transform rounded-lg shadow-2xl" style="width:242px; padding:23px; margin-right:695px; height: 421px;">

    <svg xmlns="" xmlns:xlink="" width="196" height="202" viewBox="0 0 196 202" >
        <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_944" data-name="Rectangle 944" width="178" height="47" transform="translate(0.279 0.014)" fill="#fff"/>
            </clipPath>
            <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#404456"/>
                <stop offset="1" stop-color="#040921"/>
            </linearGradient>
        </defs>
        <g id="Groupe_104" data-name="Groupe 104" transform="translate(1655 -613)">
            <g id="Groupe_77" data-name="Groupe 77" transform="translate(-1646.279 767.986)" opacity="0.5" clip-path="url(#clip-path)">
                <rect id="Rectangle_941" data-name="Rectangle 941" width="143" height="10" rx="5" transform="translate(18.279 37.014)" fill="#fff"/>
                <rect id="Rectangle_942" data-name="Rectangle 942" width="178" height="10" rx="5" transform="translate(0.279 19.014)" fill="#fff"/>
                <rect id="Rectangle_943" data-name="Rectangle 943" width="154" height="10" rx="5" transform="translate(12.279 0.014)" fill="#fff"/>
            </g>
            <rect id="Rectangle_939" data-name="Rectangle 939" width="49" height="10" rx="5" transform="translate(-1655 613)" fill="url(#linear-gradient)"/>
            <rect id="Rectangle_940" data-name="Rectangle 940" width="17" height="10" rx="5" transform="translate(-1476 613)" fill="#fff"/>
            <rect id="Rectangle_945" data-name="Rectangle 945" width="17" height="10" rx="5" transform="translate(-1496 613)" fill="#fff"/>
            <rect id="Rectangle_946" data-name="Rectangle 946" width="17" height="10" rx="5" transform="translate(-1516 613)" fill="#fff"/>
            <g id="Groupe_78" data-name="Groupe 78" transform="translate(-1655.357 655.343)" opacity="0.5">
                <path id="Soustraction_5" data-name="Soustraction 5" d="M-17035.643,807.657h-156a19.866,19.866,0,0,1-14.141-5.858,19.87,19.87,0,0,1-5.859-14.142v-51a19.87,19.87,0,0,1,5.859-14.142,19.866,19.866,0,0,1,14.141-5.858h156a19.867,19.867,0,0,1,14.143,5.858,19.871,19.871,0,0,1,5.855,14.142v51a19.871,19.871,0,0,1-5.855,14.142A19.867,19.867,0,0,1-17035.643,807.657Zm-84.4-44.654a1.436,1.436,0,0,0-1,.4l-2.439,2.333a1.389,1.389,0,0,0-.434,1,1.414,1.414,0,0,0,1.426,1.4h17.23a1.457,1.457,0,0,0,.947-.35,1.364,1.364,0,0,0,.477-.96,1.381,1.381,0,0,0-.352-1.014l-5.992-6.652a.246.246,0,0,0-.02-.02.429.429,0,0,0-.049-.049,1.424,1.424,0,0,0-1-.406,1.44,1.44,0,0,0-1.016.414l-4.406,4.363a1.436,1.436,0,0,1-1.016.417,1.454,1.454,0,0,1-.682-.17l-.992-.531A1.46,1.46,0,0,0-17120.041,763Zm2.43-6.684a1.969,1.969,0,0,0-1.965,1.97,1.969,1.969,0,0,0,1.965,1.97,1.972,1.972,0,0,0,1.971-1.97A1.972,1.972,0,0,0-17117.611,756.319Z" transform="translate(17212.002 -716)" fill="#fff"/>
            </g>
        </g>
    </svg>
    <div class="mt-6 bg-gradient-to-br from-eloken-600 h-36 w-full rounded-lg to-eloken-700 flex items-center justify-center relative">

            <svg class="animate-pulse" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 140 140" width="30" height="30">
            <g transform="matrix(10,0,0,10,0,0)">
                <path d="M13.126,5.605,2.241.163A1.54,1.54,0,0,0,.011,1.541V12.459a1.54,1.54,0,0,0,2.23,1.378L13.126,8.4a1.559,1.559,0,0,0,0-2.79Z" fill="#fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0">

                </path>
            </g></svg>
    </div>

</div>